<h1>Welcome!</h1>
<p>Hello, and welcome to &quot;The Bartletts&quot; -- our little piece of the World Wide Web.</p>
<p>This site still is very much under construction, so please bear with us if not all of the
   links work just yet. And either check back often to see what&apos;s new, or even better
   subscribe to our {{ feed|lower }} and have the information presented to you in your favourite
   RSS reader.</p>
 <p>Hope you enjoy your time with us!</p>
 <p>- {{ paul }}, {{ rosie }} and {{ sophie }} Bartlett.</p>