@charset "utf-8";

$main_font: Arial, Helvetica, sans-serif;
$content_border: 1px solid silver;

body {
  font-family: $main_font;
}

ul {
  margin-top: 0;
}

.lhs {
  width: 15%;
  float: left;
}

.contents {
  width: 70%;
  float: left;
  padding-left: 5px;
  border-left: $content_border;
  border-right: $content_border;
}

.rhs {
  float: left;
}

.copyright {
  font-size: smaller;
  text-align: center;
  clear: both;
}