# Bazel / Java
bazel-*
*.class
*.log

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# Middleman
build/*

# OSX
.DS_Store

# Eclipse
.cache
.project
.classpath
*.prefs

# ABC
*.midi
*.xhtml

# Misc.
ews/*
scratch/*
testdata/*
*.pdf
*.zip
