<!-- TODO(pdbartlett): add DOCTYPE -->
<html>
  <head>
    <title>Trackable - DIY trackables for geocaching and more...</title>
    <link rel="stylesheet" type="text/css" href="static/main.css"/>
  </head>
  <body>
    <div id="header">
      <table>
        <td class="lhs">Trackable - DIY trackables for geocaching and more...</td>
        <td class="rhs">{{ profile.displayName }} | {{ profile.links }} </td>
      </table>
    </div>
    <div id="navbox">
      <span>Blah</span>
    </div>
    <div id="content">{{ content }}</div>
    <div id="footer">
      <span>Copyright &copy; 2008 Paul Bartlett. All rights reserved.</span>
    </div>
  </body>
</html>