---
import MainLayout from '../layouts/MainLayout.astro';
import { Icon } from 'astro-icon/components';
import { IndexPage } from '../components/IndexPage';
---

<MainLayout title="Torn Companion">
  <div class="navbar bg-base-100">
    <div class="flex-1">
      <a class="btn btn-ghost normal-case text-xl">Torn App</a>
    </div>
    <div class="flex-none">
      <a href="/settings" class="btn btn-square btn-ghost">
        <Icon name="mdi:cog" class="w-6 h-6" />
      </a>
    </div>
  </div>
	<main class="container mx-auto p-4">
    <IndexPage client:only="react" />
	</main>
</MainLayout>
