---
import MainLayout from "../components/MainLayout.astro"
---

<MainLayout page="Home" title="PITA!" subtitle="Paul's Inconceivable Torn App"
    blurb=`
			<p>Welcome to PITA! This home page is a summary of your current status, along
			with some of the things you could do right now, with links to the suggested
			sequence of actions.</p>
			<p>And you use the other tabs to dive deeper into	more specific information!</p>
		`
>
  <p>...</p>
</MainLayout>