---
interface Props {
  page: string     // Page name
  href: string     // Link (default does nothing, so effectively required)
  current: string  // Current page (to determine "is-selected")
}

const { page, href = "#", current = "" } = Astro.props;
const base = import.meta.env.BASE_URL;
const the_href = base+href || "/";
---
<a class:list={["navbar-item", {"is-selected": current == page}]} href={the_href}>{page}</a>
