Copyright &copy; 2014 Paul Bartlett (Version
%span#verno<
 ?
)

:javascript
 var elem = document.getElementById("verno");
 if (elem) elem.innerText = chosen;
 (adsbygoogle = window.adsbygoogle || []).push({});
