.title= link_to data.site.name, "/"
.tag_line= data.site.tag_line

.bannerad
 <ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-1351122798432528" data-ad-slot="6193329262"></ins>
