=stylesheet_link_tag "http://fonts.googleapis.com/css?family=" + webfont_families

:scss
  @charset "utf-8";
  
  $main_font: Arial, Helvetica, sans-serif;
  $bgr: 0;
  $bgg: 0;
  $bgb: 0;
  
  #{webfont_sass_vars}

  body {
    font-family: $main_font;
    background: rgb($bgr, $bgg, $bgb);
    color: #fff;
  }

  header {
    padding: 2em;
    .title a {
      color: #fff;
      font-family: $led;
      font-size: 5em;
      text-transform: lowercase;
      text-decoration: none;
    }
    .tag_line {
      font-family: $tagline;
      font-size: 1.5em;
      text-transform: uppercase;
    }
    .bannerad {
      text-align: center;
      padding-top: 1em;
    }
  }

  .lhs, .rhs, .contents {
    float: left;
    padding: 1em;
  }

  .lhs, .rhs {
    li {
      color: #191;
      font-family: $led;
    }
    a {
      font-family: $main-font;
      color: #999;
      text-decoration: none;
      &:hover {
        color: #fff;
        text-decoration: underline;
      }
    }
  }

  footer {
    clear: both;
    padding: 0.5em;
    font-size: 0.7em;
    text-align: center;
    color: #191;
  }

  .lhs {
    width: 10%;
  }

  .contents {
    width: 75%;
    background: #fff;
    background-image: radial-gradient(rgba($bgr, $bgg, $bgb, 0) 60%, rgba($bgr, $bgg, $bgb, 0.25));
    color: #111;
    border-radius: 25px;
    h1 {
      text-align: center;
      font-family: $led;
      font-size: 2em;
      color: #000;
    }
    h2 {
      margin-top: 1.5em;
    }
  }

  * {
    margin: 0;
  }

  ul {
    padding-left: 1.5em;
  }

  p {
    margin-top: 1em;
    &:first-child {
      margin-top: 0;
    }
  }