---
title: Welcome!
---
%p
 Welcome to itsjustaga.me &emdash; my mish-mash of stuff vaguely related to gaming &emdash; I hope
 you find something useful.

%h2
 Paul's situation report

%table
 %tr
  %td Games
  %td TODO: Icon
  %td Blah, blah, blah...