!!!
- title = current_page.data.title || "Holy Family"

%html
  %head
    =partial :head, :locals => { :title => title }
  %body
    %header= partial :header, :locals => { :title => title }
    .contents= yield
    %footer= partial :footer