@charset "utf-8";

$border_color: #141;
$box_color: #220;

$main_font: "Palatino Linotype", "Book Antiqua", Palatino, serif;

body {
  font-family: $main_font;
  border: {
    width: 0 12em;
    style: solid;
    color: $border_color;
  } 
  padding: 1em;
}

h1 {
  margin-top: 0;
  font-size: 3em;
}

h2 {
  font-size: 1.2em;
  color: #963;
}

header, .contents, footer {
  text-align: center;
}

footer {
  font-size: 0.8em;
}

.page_section {
  margin: 5px;
  span {
    margin: 2px;
  }
}

.boxed {
  display: inline-block;
  border: 2px solid $box_color;
  padding: 3px;
}

#site_links a {
  &:link, &:visited {
    color: #777;
    text-decoration: none;
  }
  &:hover {
    color: #11C;
    text-decoration: underline;
  }
}
