.table_top
  %div{align: "center"}
    %span.title_panel Links
.table_content
  .table_text
    %span.news_more= link_to "Colnbrook Scouts", "#"
    %br
    %span.news_more= link_to "ECHO", "#"
.table_bottom
  %img{src: "images/table_bottom.jpg", width: "204", height: "23", alt: ""}
