.table_top
  %div{align: "center"}
    %span.title_panel News
.table_content
  .table_text
    %span.news_date 23 May 2013
    %br
    %span.news_text Dad's birthday
    %br
    %span.news_more= link_to "Read more...", "#"
    %br
    %br
    %span.news_date 8 Oct 2012
    %br
    %span.news_text Sophie's birthday
    %br
    %span.news_more= link_to "Read more...", "#"
.table_bottom= image_tag "table_bottom.jpg", {width: "204", height: "23"}
