#news
  .table_top
    %span.title_panel News
  .table_content
    .table_text
      .news_date 23 May 2013
      .news_text Dad's birthday
      .news_more= link_to "Read more...", "#"
      .news_date 8 Oct 2012
      .news_text Sophie's birthday
      .news_more= link_to "Read more...", "#"
  .table_bottom= image_tag "table_bottom.jpg", {width: "204", height: "23"}
