=s_link_block "welcome/contact.htm" do
  %span.boxed<>
    %span<>= s_img "welNewGroup.jpg"
    %span<>= s_img "welNewGrouptxt.gif"
=s_img "welMassTimes.gif"
%span.boxed= s_img "welWexhamHospTxt.gif"
