-content_for :header_bar do
  =s_link_block "welcome/contact.htm" do
    =s_img "welBanner.gif"

.page_section
  =s_link_block "welcome/contact.htm" do
    %span.boxed
      =s_img "welNewGroup.jpg"
      =s_img "welNewGrouptxt.gif"
  =s_img "welMassTimes.gif"
  %span.boxed= s_img "welWexhamHospTxt.gif"

.page_section= s_img "welHomeCommunion.gif"

%hr.partial
.page_section#site_links
  -@links = data.site.site_links.map { |text, link| s_link text, link }
  =@links.join " | "
%hr.partial

.page_section= s_img "welHlySouls.gif"
